
  .swiper .main-slider{
    width: 100%;
    height: 100%;
  }
  
  .main-slider .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff2ce;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main-slider .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
    padding: 5%;
  }
  
  .main-slider .swiper {
    margin-left: auto;
    margin-right: auto;
  }
  